# Ignore everything by default
/*

# Include ns-3.40/PlotScripts/ and its contents
!ns-3.40/PlotScripts/
!ns-3.40/PlotScripts/**

# Include ns-3.40/scratch/tcp-bbr-example.cc
!ns-3.40/scratch/tcp-bbr-example.cc